*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181c23;
    color: #fffbff
}

:root{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 1rem;   
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    gap: 2rem 0;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    gap: 2rem 2rem;
    cursor: pointer;
}

